.gear_container {
    padding: 4rem 8rem;
    display: flex;
    gap: 2rem;
    place-items: center;
    justify-content: space-between;
}

.gear_description {
    color: var(--color-dark);
    opacity: 50%;
    font-weight: 500;
}

.gear_left {
    max-width: 40%;
    margin-right: auto;
}

.gear_title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 2rem;
}

span {
    color: var(--color-accent)
}

img{
    border-radius: 5px;
    max-width: 90%;
}