.footer {
  background-color: var(--color-dark);
  padding: 3rem 8rem;
}

.brand {
    color: var(--color-text-white);
}

.description,
.copyright {
    color: var(--color-text-white);
    opacity: 0.5;
}

.Footer_links {
    display: flex;
    gap: 2rem;
    letter-spacing: 2px;
    font-weight: 1.3rem;
}
.footer_top, 
.footer_middle {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
}

.description {
    max-width: 40rem;
}

li {
    color: var(--color-text-white);
    text-transform: uppercase;
    font-weight: bold;  
}

.socials {
    display: flex;
    gap: 1.2rem;
    margin-left: auto;
}


