.footer {
  background-color: var(--color-dark);
  display: flex;
  gap: 2rem;
  padding: 3rem 6rem;
}

.brand {
    color: var(--color-text-white);
}

.description,
.copyright {
    color: var(--color-text-white);
    opacity: 0.5;
}

.Footer_links {
    display: flex;
    gap: 2rem;
}
/* 
.footerNavigation {
    
} */

ul {
    list-style-type: none;
}

li {
    color: var(--color-text-white);
    text-transform: uppercase;
    font-weight: bold;  
}

.socials {
    display: flex;
    gap: 1.2rem;
}
