:root {
    --color-dark: #000;
    --color-text-dark: #222222;
    --color-text-white: #ffffff;
    --color-text-grey: #ddd;
    --color-text-light: #fafafa;
    --color-accent: #d87d4a;
    --color-bg-grey: #f1f1f1;
}